name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ "*" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Build and test with ConnectIQ Tester
      run: |
        for device in $(grep -oP '(?<=<iq:product id=")[^"]+' manifest.xml); do
          echo "Testing on $device"
          docker run -v ${{ github.workspace }}:/app -w /app ghcr.io/rvoortman/connectiq-tester:V1.0.1 "$device"
        done
